/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
    width: 100% !important;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}
div.validation-summary-errors > ul {
    color: #b94a48;
    list-style: none;
}

.validation-summary-valid {
    display: none;
}

textarea {
    resize: none;
    width: 100% !important;
}

.form-total {
  margin: 0 auto;
  max-width:100%;
}

.block-form-inline {
  display: block;
  float: left;
  height: 100px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  width: 40%;
}

full-width {
    width: 100%;
    float: left;
    display: inline-block;
}

.half-height {
    position: relative;
    height: 50%;
}

